/*------------------------ Geral ---------------------------*/



/*------------------------ Header --------------------------*/
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "nav"
    "titulo"
    "texto"
    "botao";
}

.header_nav{
    grid-area: nav;
}

.header_titulo{
    grid-area: titulo;
}

.header_texto{
    grid-area: texto;
}